In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sn
import csv
import math

In [ ]:
# 3arm
df_3arm_600 = pd.read_csv('/content/drive/MyDrive/bse662/SheetData_3arm_600.csv')
df_3arm_1000 = pd.read_csv('/content/drive/MyDrive/bse662/SheetData_3arm_1000.csv')
# 5arm
df_5arm_600 = pd.read_csv('/content/drive/MyDrive/bse662/SheetData_5arm_600.csv')
df_5arm_1000 = pd.read_csv('/content/drive/MyDrive/bse662/SheetData_5arm_1000.csv')

In [ ]:
#def conditiondict(df,name):
  #name = {}
  #name['participant_name'] = [df['Unnamed: 0'][i+1] for i in range(len(df['Unnamed: 0'])) if df['Unnamed: 0'][i]=='Participant Name']
  #name

In [ ]:
df_3arm_600.head(50)

          Unnamed: 0   Unnamed: 1 Unnamed: 2     Unnamed: 3  Unnamed: 4
0   Participant Name      Emotion        NaN            NaN         NaN
1           sayymeer            3        NaN            NaN         NaN
2              Round  SelectedArm     Reward  Response Time  TotalScore
3                  1            C   48.44382            100    48.44382
4                  2            B   55.71037            600    104.1542
5                  3            C   73.63922            500    177.7934
6                  4            C   56.66572            500    234.4591
7                  5            C   40.72395            500    275.1831
8                  6            B   41.15967            600    316.3427
9                  7            A   13.42546            500    329.7682
10                 8            A   20.37846            300    350.1467
11                 9            C   35.52403            500    385.6707
12                10            B   37.41868            600    423.0894
13                11            A   22.96061            500      446.05
14                12            A   34.56116            400    480.6111
15                13            C   49.72774            500    530.3389
16                14            C   57.58838            400    587.9273
17                15            A   38.41899            600    626.3463
18                16            A   30.12797            500    656.4742
19                17            A   37.54743            300    694.0217
20                18            C   42.84133            600     736.863
21                19            C   70.65711            400    807.5201
22                20            A   21.91791            600     829.438
23                21            A   34.32477            500    863.7628
24                22            A   11.17008            300    874.9329
25                23            C   30.22456            500    905.1574
26                24            C   65.40454            300     970.562
27                25            A   14.49279            500    985.0548
28                26            A   29.01019            400    1014.065
29                27            C   53.13895            600    1067.204
30                28            C   44.22667            500    1111.431
31                29            B   48.62846            600    1160.059
32                30            B   23.09649            500    1183.156
33                31            B   55.37013            300    1238.526
34                32            C   73.19497            600    1311.721
35                33            C    46.3002            400    1358.021
36                34            B   39.78605            600    1397.807
37                35            A   30.79986            300    1428.607
38                36            C   60.58909            600    1489.196
39                37            C   63.63873            400    1552.835
40                38            A    39.0636            600    1591.898
41                39            A   36.30512            500    1628.203
42                40            A   37.93966            300    1666.143
43               NaN          NaN        NaN            NaN         NaN
44               NaN          NaN        NaN            NaN         NaN
45  Participant Name      Emotion        NaN            NaN         NaN
46             tania            4        NaN            NaN         NaN
47             Round  SelectedArm     Reward  Response Time  TotalScore
48                 1            A    32.6889            200     32.6889
49                 2            A   15.75796            300    48.44686

In [ ]:
dict_3arm_600 = {}
dict_3arm_600['participant_name'] = [df_3arm_600['Unnamed: 0'][i+1] for i in range(len(df_3arm_600['Unnamed: 0'])) if df_3arm_600['Unnamed: 0'][i]=='Participant Name']
dict_3arm_600['emotion'] = [int(df_3arm_600['Unnamed: 1'][i+1]) for i in range(len(df_3arm_600['Unnamed: 0'])) if df_3arm_600['Unnamed: 1'][i]=='Emotion']
#3arm_600['TotalScore'] = [float(df_3arm_600['Unnamed: 4'][i]) for i in range(len(df_3arm_600['Unnamed: 4'])) if float(df_3arm_600['Unnamed: 4']) >0 & pd.isna(df['Unnamed: 2'][i+1])

In [ ]:
#participant wise total score
totalScore = df_3arm_600['Unnamed: 4'].tolist()
n = len(totalScore)
totalScore_plot = []
for i in range(n-1):
  if totalScore[i]=='TotalScore':
    continue
  if (math.isnan(totalScore[i+1])) & (float(totalScore[i])>0) :
    totalScore_plot.append(totalScore[i])

TypeError: must be real number, not str

In [ ]:
#(columns={"Unnamed: 0": "Round", "Unnamed: 1": "SelectedArm", "Unnamed: 2": "Reward", "Unnamed: 3": "Response Time", "Unnamed: 4":"TotalScore"})

In [ ]:
dict_3arm_1000 = {}
dict_3arm_1000['participant_name'] = [df_3arm_1000['Unnamed: 0'][i+1] for i in range(len(df_3arm_1000['Unnamed: 0'])) if df_3arm_1000['Unnamed: 0'][i]=='Participant Name']
dict_3arm_1000['emotion'] = emotion = [int(df_3arm_1000['Unnamed: 1'][i+1]) for i in range(len(df_3arm_1000['Unnamed: 0'])) if df_3arm_1000['Unnamed: 1'][i]=='Emotion']

In [ ]:
dict_5arm_600 = {}
dict_5arm_600['participant_name'] = [df_5arm_600['Unnamed: 0'][i+1] for i in range(len(df_5arm_600['Unnamed: 0'])) if df_5arm_600['Unnamed: 0'][i]=='Participant Name']
dict_5arm_600['emotion'] = emotion = [int(df_5arm_600['Unnamed: 1'][i+1]) for i in range(len(df_5arm_600['Unnamed: 0'])) if df_5arm_600['Unnamed: 1'][i]=='Emotion']

In [ ]:
dict_5arm_1000 = {}
dict_5arm_1000['participant_name'] = [df_5arm_1000['Unnamed: 0'][i+1] for i in range(len(df_5arm_1000['Unnamed: 0'])) if df_5arm_1000['Unnamed: 0'][i]=='Participant Name']
dict_5arm_1000['emotion'] = emotion = [int(df_5arm_1000['Unnamed: 1'][i+1]) for i in range(len(df_5arm_1000['Unnamed: 0'])) if df_5arm_1000['Unnamed: 1'][i]=='Emotion']

In [ ]:
#lists with participant_name and emotion

#participant_name = [df['Unnamed: 0'][i+1] for i in range(len(df['Unnamed: 0'])) if df['Unnamed: 0'][i]=='Participant Name']
#emotion = [df['Unnamed: 1'][i+1] for i in range(len(df['Unnamed: 0'])) if df['Unnamed: 1'][i]=='Emotion']

In [ ]:
#participant no list
def part_no(df):
  b=0
  participant_no = []
  for i in range(len(df_3arm_600['Unnamed: 0'])):
    if df['Unnamed: 0'][i] == 'Participant Name':
      b=b+1
    participant_no.append(b)

  df['Participant_No'] = participant_no
  return df

df_3arm_600 = part_no(df_3arm_600)
df_3arm_1000 = part_no(df_3arm_1000)

df_5arm_600 = part_no(df_5arm_600)
df_5arm_1000 = part_no(df_5arm_1000)

KeyError: 1237

In [ ]:
df_3arm_1000.head(10)

         Unnamed: 0   Unnamed: 1 Unnamed: 2     Unnamed: 3  Unnamed: 4
0  Participant Name      Emotion        NaN            NaN         NaN
1           sayymer           -2        NaN            NaN         NaN
2             Round  SelectedArm     Reward  Response Time  TotalScore
3                 1            B   40.37551            800    40.37551
4                 2            C   30.08471            800    70.46022
5                 3            C     54.201            800    124.6612
6                 4            C   76.51156            700    201.1728
7                 5            C   71.28444            700    272.4572
8                 6            A   35.34878            600     307.806
9                 7            A   32.26899            700     340.075

In [ ]:
# drop participant name rows
def drop_rows(df):
  df = df.drop(df.index[[i+1 for i in range(len(df['Unnamed: 0'])) if df['Unnamed: 0'][i]=='Participant Name']]).reset_index(drop=True)
  df = df.drop(df.index[[i for i in range(len(df['Unnamed: 0'])) if df['Unnamed: 0'][i]=='Participant Name']]).reset_index(drop=True)
  df = df.drop(df.index[[i for i in range(len(df['Unnamed: 0'])) if df['Unnamed: 0'][i]=='Round']]).reset_index(drop=True)
  df = df.rename(columns={"Unnamed: 0": "Round", "Unnamed: 1": "SelectedArm", "Unnamed: 2": "Reward", "Unnamed: 3": "Response Time", "Unnamed: 4":"TotalScore"})
  return df


df_3arm_600 = drop_rows(df_3arm_600)
df_3arm_1000 = drop_rows(df_3arm_1000)

df_5arm_600 = drop_rows(df_5arm_600)
df_5arm_1000 = drop_rows(df_5arm_1000)

AttributeError: 'NoneType' object has no attribute 'drop'

In [ ]:
df_3arm_600 = df_3arm_600.drop(df.index[[i+1 for i in range(len(df['Unnamed: 0'])) if df_3arm_600['Unnamed: 0'][i]=='Participant Name']]).reset_index(drop=True)
df = df.drop(df.index[[i for i in range(len(df['Unnamed: 0'])) if df['Unnamed: 0'][i]=='Participant Name']]).reset_index(drop=True)
df = df.drop(df.index[[i for i in range(len(df['Unnamed: 0'])) if df['Unnamed: 0'][i]=='Round']]).reset_index(drop=True)
df = df.rename(columns={"Unnamed: 0": "Round", "Unnamed: 1": "SelectedArm", "Unnamed: 2": "Reward", "Unnamed: 3": "Response Time", "Unnamed: 4":"TotalScore"})

In [ ]:
df_3arm_600.head(10)

AttributeError: 'NoneType' object has no attribute 'head'

In [ ]:
#round wise total score dict
def totalScore_dict(Round, TotalScore):
  totalscore_dict = {}
  n= len(Round)
  for i in range(n):
    j = Round[i]
    key = 'Round' + str(j)
    if key in totalscore_dict:
      totalscore_dict[key].append(TotalScore[i])
    else:
      totalscore_dict[key] = [TotalScore][i]
  return totalscore_dict

tS_dict_3arm_600 = totalScore_dict(list(df_3arm_600['Round']), list(df_3arm_600['TotalScore']))
tS_dict_3arm_1000 = totalScore_dict(list(df_3arm_1000['Round']), list(df_3arm_1000['TotalScore']))
tS_dict_5arm_600 = totalScore_dict(list(df_5arm_600['Round']), list(df_5arm_600['TotalScore']))
tS_dict_5arm_1000 = totalScore_dict(list(df_5arm_1000['Round']), list(df_5arm_1000['TotalScore']))

TypeError: 'NoneType' object is not subscriptable

In [ ]:
# totalScore mean
def totalScore_mean(totalscore_dict):
  totalscore_mean = []
  for j in range(40):
    array = np.array(list(totalscore_dict['Round'+str(j+1)]))
    array_f = array.astype(float)
    totalscore_mean.append(np.mean(array_f))
  return totalscore_mean

tS_mean_3arm_600 = totalScore_mean(ts_dict_3arm_600)
tS_mean_5arm_600 = totalScore_mean(ts_dict_5arm_600)
tS_mean_3arm_1000 = totalScore_mean(ts_dict_3arm_1000)
tS_mean_5arm_1000 = totalScore_mean(ts_dict_5arm_1000)

In [ ]:
# totalScore SE
def totalScore_mean(totalscore_dict):
  totalscore_sd = []
  for j in range(40):
    array = np.array(list(totalscore_dict['Round'+str(j+1)]))
    array_f = array.astype(float)
    totalscore_sd.append(np.std(array_f))
  return totalscore_sd

tS_sd_3arm_600 = totalScore_mean(ts_dict_3arm_600)
tS_sd_5arm_600 = totalScore_mean(ts_dict_5arm_600)
tS_sd_3arm_1000 = totalScore_mean(ts_dict_3arm_1000)
tS_sd_5arm_1000 = totalScore_mean(ts_dict_5arm_1000)

In [ ]:
def performance_plot(ts_mean, ts_sd):
  no_rounds = 40
  x = [i+1 for i in range(no_rounds)]
  plt.plot(x, totalscore_mean,label = 'Data' )
  ts_add = [(ts_mean[i] + ts_sd[i]) for i in range(no_rounds)]
  ts_sub = [(ts_mean[i] + ts_sd[i]) for i in range(no_rounds)]

  plt.fill_between(x, ts_add,ts_sub, color='r', alpha=0.2)
  plt.ylabel('Performance +-SE')
  plt.xlabel('Round')

In [ ]:
performance_plot(ts_mean_3arm_600, ts_sd_3arm_600)

In [ ]:
performance_plot(ts_mean_3arm_1000, ts_sd_3arm_1000)

In [ ]:
performance_plot(ts_mean_5arm_600, ts_sd_5arm_600)

In [ ]:
performance_plot(ts_mean_5arm_1000, ts_sd_5arm_1000)